body {
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); /* Reemplaza 'background.jpg' con la URL de tu imagen de fondo */
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    color: #333;
}

label {
    margin-right: 10px;
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    font-weight: bold;
    color: #333;
    text-align: center;
}
